@media (min-width: 0px) and (max-width: 767px) {
  .btn--medium{
    display: flex;
    justify-content: center;
  }
  .main-brand{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .navbar{
    padding: 0 0.7rem;
  }
  .main-banner .mask{
    width: 100%;
  }
  .main-banner .mask .main-banner__text{
    padding-left: 1rem;
  }
  .container-fluid {
    padding: 0 1rem;
  }
  .main-oneform__content{
    grid-template-columns: 1fr;
    padding: 0rem 1rem 2rem 1rem;
  }
  .main-oneform__item form, .main-details__content,.main-details__item:nth-child(2),.main-about__content,.main-zone__content{
    grid-template-columns: 1fr;
  }
  .main-details__item:nth-child(2){
    margin-top: 1rem;
  }
  .main-details__box{
    margin-bottom: 1rem;
  }
  .main-about__img img, .main-zone__img img, .main-slidernav__img img{
    width: 100%;
  }
  .main-gallery__img{
    padding-right: 0;
  }
  .main-about__item:nth-child(2){
    padding: 2rem 1rem 3rem 1rem;
  }
  .main-slidernav__content, .main-footer__content{
    grid-template-columns: 1fr;
  }
  .slider.slider-nav .slick-prev, .slider.slider-nav .slick-next{
    top: 7rem;
  }
  .slider.slider-nav .slick-next {
    right: -1rem;
  }
  .main-twoform__content{
    grid-template-columns: 1fr;
  }
  .main-twoform__img {
    height: auto;
  }
  .main-footer__description{
    width: 100%;
  }
  .main-twoform,.main-location, .main-zone, .main-details {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .main-maps{
    padding-bottom: 30px;
  }
  .main-about{
    padding-bottom: 50px;
  }
  .slider-for .slick-dots li:nth-child(1):after, .slider-for .slick-dots li:nth-child(2):after, .slider-for .slick-dots li:nth-child(3):after, .slider-for .slick-dots li:nth-child(4):after{
    font-size: 15px;
  }
  .slider-for .slick-dots li.slick-active:nth-child(1):after, .slider-for .slick-dots li.slick-active:nth-child(2):after, .slider-for .slick-dots li.slick-active:nth-child(3):after, .slider-for .slick-dots li.slick-active:nth-child(4):after{
    font-size: 15px;
  }
  .nav-item:last-child {
    padding: 0 12px;
  }
  .main-gallery__content .slick-prev, .main-gallery__content .slick-next {
    top: 18rem !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-brand{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .navbar{
    padding: 0 2rem;
  }
  .main-banner .mask{
    width: 60%;
  }
  .main-banner .mask .main-banner__text{
    padding-left: 3rem;
  }
  .container-fluid {
    padding: 0 3rem;
  }
  .main-oneform__item form{
    grid-template-columns: 1fr 1fr;
    padding: 0rem 3rem 2rem 2rem;
  }
  .main-oneform__title {
    font-size: 22px;
  }
  .main-oneform__item:nth-child(1){
    align-items: flex-start;
  }
  .main-oneform__content{
    grid-template-columns: 25% 76%;
    padding: 0rem 0rem 0rem 2rem;
  
  }
  .main-details__content{
    grid-template-columns: 1fr;
  }
  .main-details__item:nth-child(2){
    grid-template-columns: 1fr 1fr;
  }
  .main-about__content{
    grid-template-columns: 1fr;
  }
  .main-about__img img{
    width: 100%;
  }
  .main-about__item:nth-child(2){
    padding: 2rem 3rem 2rem 3rem;
  }
  .main-zone__img img{
    width: 100%;
  }
  .main-zone{
    padding: 50px 0;
  }
  .main-slidernav__img img{
    width: 100%;
  }
  .slider.slider-nav .slick-next {
    right: 15.5rem;
  }
  .slider.slider-nav .slick-prev,.slider.slider-nav .slick-next{
    top:9rem;
  }
  .main-twoform__content {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  .main-footer__content {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-gap: 0rem;
  }
  ul.menu li a, dd a{
    font-size: 14px;
  }
  .btn--medium{
    font-size: 13px;
  }
  .main-footer__img img{
    width: 75%;
  }
  .main-footer__item dt{
    font-size: 14px;
  }
  .main-zone__list .main-zone__description p{
    font-size: 14px;
  }
  .slider-for .slick-dots li.slick-active:nth-child(1):after, .slider-for .slick-dots li.slick-active:nth-child(2):after, .slider-for .slick-dots li.slick-active:nth-child(3):after, .slider-for .slick-dots li.slick-active:nth-child(4):after{
    font-size: 15px;
  }
  .slider-for .slick-dots li:nth-child(1):after, .slider-for .slick-dots li:nth-child(2):after, .slider-for .slick-dots li:nth-child(3):after, .slider-for .slick-dots li:nth-child(4):after{
    font-size: 15px;
  }
  .main-twoform__img img{
    object-fit: unset;
  }
  .main-about{
    padding-bottom: 50px;
  }
  .main-details{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .slider.slider-nav .slick-dots {
    bottom: 0rem;
    left: -8rem;
  }
  .main-gallery__content .slick-prev, .main-gallery__content .slick-next {
    top: 20rem !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container-fluid {
    padding: 0 2rem;
  }
  .slider.slider-nav .slick-next {
    right: 22.5rem;
  }
  .slider.slider-nav .slick-prev,.slider.slider-nav .slick-next{
    top: 12rem;
  }
  .slider.slider-nav .slick-dots {
    bottom: -3rem;
    left: -11rem;
  }
  .main-gallery__content .slick-prev, .main-gallery__content .slick-next {
    top: 19rem !important;
  }
  .main-details__content{
    grid-template-columns: 1fr;
  }
  .main-banner .mask{
    width: 45%;
  }
}

/* @media (min-width: 1200px){
  .container {
    max-width: 1300px;
  }
} */